.App {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  background-color: #f2a815;
}

.Forecast {
  background-color: #fadadd;
  color: black;
  min-height: 206px;
  padding: 20px;
  margin: 30px 0;
  border-radius: 8px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

h1,
h2 {
  font-size: 3rem !important;
  font-weight: 800 !important;
}

h2 small {
  font-size: 24px;
  white-space: nowrap;
}

.description > small {
  font-size: 15px;
}

input {
  width: 99%;
  padding-left: 1%;
}

input::placeholder {
  font-size: 0.9rem;
}

input,
button {
  border-radius: 4px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 200ms ease-in-out;
  border: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0;
  background-color: white;
}

small > .day:visited {
  color: #212529;
}

small > .night:visited {
  color: white;
}

footer > a:visited {
  color: #212529;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-ctr {
  font-family: "Nunito Sans", sans-serif;
  width: 850px;
  min-height: 540px;
  padding: 5%;
  margin: 0 2% 4% 0;
  border: solid 1px black;
  border-radius: 8px;
  box-shadow: 9px 9px 0px 0 #000000;
}

.day,
.day > canvas {
  background-color: #87ceeb;
  color: #212529 !important;
}

.night,
.night > canvas {
  color: white !important;
}

.container > .night {
  background-color: #2e6b8e;
}

.current-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn-ctr {
  width: 100%;
  gap: 4%;
}

.degrees-ctr {
  display: table-caption;
  position: relative;
  top: 0;
}

.hidden {
  font-size: 18px;
  opacity: 0.8;
  text-decoration: underline !important;
  cursor: pointer;
}

.unhidden {
  text-decoration: none;
}

.metric {
  text-decoration: none;
}

.description {
  text-transform: capitalize;
}

@media screen and (max-width: 992px) {
  .app-ctr {
    width: auto;
  }

  .forecastDesc {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .App {
    font-size: 15px;
  }

  .app-ctr {
    padding: 7% 5%;
    width: auto;
  }

  .current {
    text-align: center;
  }

  .current-ctr {
    padding-top: 4%;
  }

  h2 {
    font-size: 35px;
  }

  .forecast-icons > canvas {
    width: 40px;
  }
}
